{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block Title %} Liste de Propriétaires{% endblock Title %}
{% block content %}


<div class="container-fluid">
    <h3  class="h2 text-center">
        Propriétaires
    </h3>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Raison Sociale</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Actif</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for proprietaire in proprietaires %}
                    <tr>
                        <td> {{ proprietaire.raison_sociale }} </td>
                        <td> {{ proprietaire.nom}} </td>
                        <td> {{ proprietaire.prenom }} </td>
                        <td> {{ proprietaire.email }} </td>
                        <td> {{ proprietaire.telephone }} </td>

                        <td> 
                            {% if proprietaire.actif %}
                                <i class="fa fa-check-circle" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color: red;"></i>
                            {% endif %}
                        </td>
                        
                        
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" value="{{ proprietaire.id }}">
                                <a class="text-light" href="{% url 'persons:proprietaire_update' proprietaire.id %}">Modifier</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" value="{{ proprietaire.id }}">
                                <a class="text-light" href="#">Supprimer</a>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                    <tr>
                        <th>

                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-sm" value="">
                <a class="text-light" href="{% url 'persons:proprietaire_create' %}">Nouveau</a>
            </button>
            <button type="button" class="btn btn-success btn-sm" value="">
                <a class="text-light" href="{% url 'persons:persons_accueil' %}">Retour</a>
            </button>
        </div>
    </div>
</div>


{% endblock content %}