{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block Title %} Creation Contrat{% endblock Title %}

{% block content %}
<div class="container">
    <h2 class="my-3">Créer un contrat</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                {{ form.locataire|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.appartement|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form.date_debut|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.date_fin|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form.jour_echeance|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.loyer_mensuel|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.charges_mensuelles|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.depot_garantie|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.indice_reference|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.date_revision|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.fichier_contrat|as_crispy_field }}
            </div>
            <div class="col-md-2">
                {{ form.actif|as_crispy_field }}
            </div>
            <div class="col-md-10">
                {{ form.preavis_donne|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.date_preavis|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.etat_lieux_entree|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.etat_lieux_sortie|as_crispy_field }}
            </div>
        </div>

        {{ form.notes|as_crispy_field }}

        <button type="submit" class="btn btn-primary my-3">
            <i class="fas fa-save me-2"></i>Enregistrer
        </button>
    </form>
</div>
{{ form.media }}
{% endblock %}